
<!-- <div class="container" style="background-image: url(assets/image/loginblack.webp);"> -->

<div class="hold-transition login-page" style="background-color: black;">

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b >Admin</b>Login</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg" style="color: rgb(11, 15, 228);">Login to FoodDotCom</p>
      
            <div *ngIf="loginfailed" class="alert alert-danger" role="alert">
              Login Failed
            </div>

           <form  (ngSubmit)="onSubmit()" [formGroup]="formGroup">
              <div class="input-group mb-3">
                 <input type="text" class="form-control" formControlName="username" name="username" placeholder="Username"/>

              <div *ngIf="submitted && f['username'].errors">
                  <div class="error text-danger">
                      Username is mandatory.
                  </div>
              </div>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="password" name="password" placeholder="password"/>
              <div *ngIf="submitted && f['password'].errors">
                  <div class="error text-danger">
                      Password is mandatory.
                  </div>
              </div>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="icheck-primary">
                    <input type="checkbox" id="remember">
                    <label for="remember">
                      Remember Me
                    </label>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" class="btn btn-dark btn-block">Login In</button>
                </div>

                
	<div>
		<a href="signup">signup</a>
	</div>
                <!-- /.col -->
              </div>
            </form>
      
           
            
            <!-- /.social-auth-links -->
      
           
          
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.login-box -->
    </div>
  <!-- </div> -->


