<div class="content-wrapper">
    <div class="container">
        <img class="bi me-2" width="100%" height="10%" role="img" src="assets/image/pages2.jpg" alt="Logo" srcset=" ">
    </div>

    <div>
        <h2 class="text-secondary">Order food from the best restaurants and shops with us</h2>
    </div>

    <div>
        <h6>Are you hungry? Did you have a long and stressful day? Interested in getting a cheesy pizza delivered to
            your office or looking to avoid the weekly shop? Then foodpanda Bangladesh is the right destination for you!
            foodpanda offers you a long and detailed list of the best restaurants and shops near you to help make your
            everyday easier. Our online food delivery service has it all, whether you fancy a juicy burger from Takeout,
            fresh sushi from Samdado or peri peri chicken from Nando's, foodpanda Bangladesh has over 2000 restaurants
            available from Dhaka to Chittagong through to Sylhet. Did you know you can order your groceries and more
            from foodpanda, too? Check out foodpanda shops for favourite partners like Unimart, Suborno, Shwapno, Bengal
            Meat, and much more. Sit back and relax – let foodpanda Bangladesh take the pressure off your shoulders.
        </h6>
    </div>

    <h1 class="text-info">our pages:</h1>
    <ul>
        <li><a>fooddelivary FaceBook.com</a></li>
        <li><a>www.foodDelivary.com</a></li>
        <li>contact no: 017********</li>
    </ul>
</div>