
  <div class="container Page">
    <div class="container mt-5 md-4 text-center">
        
        <div class="row">
            <div class="col-lg-3 mt-3" *ngFor="let p of products">
                <div class="pBox">
                    <img src="{{p.imagesUri}}">
                    <h1>{{p.productName}}</h1>
                    <p>{{"BDT "+p.price+" TK"}}</p>
                    <h5>{{"Availabe "+p.quantity}}</h5>
                    <a [routerLink]="['/orderform', p.id]">BUY</a>
                </div>

            </div>
        </div>
    </div>
</div>