

<div class="content-wrapper">





    <div class="container">

      
      
      
          <div class="">
              
                  <h1 class="row justify-content-center fw-bolder text-primary"> Order List</h1>
              
          </div>

          <div *ngIf="cancel" class="alert alert-danger" role="alert">
            Product cancel
          </div>
          <div *ngIf="delivery" class="alert alert-success" role="alert">
            Product delivered
          </div>
      
          <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let order of Orders; index as i ;">
                    <td>{{order.id}}</td>
                    <td>{{order.customerName}}</td>
                    <td>{{order.productName}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.price}}</td>
                    <td>{{order.status}}</td>
                   
                    <td><button type="submit" name="submit" [disabled] = " order.status == 'cancel' || 'delivered' " class="btn btn-outline-danger" (click)="cancelOrder(order)" >Cancel</button>
                    ||
                    <button  type="submit" name="submit" [disabled] = " order.status == 'delivered' " class="btn btn-outline-success" (click)="delivered(order)" >Delivered</button>
                    </td>  
                </tr>
            </tbody>
        
        </table> 
      </div>
</div>