<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/image/logo1.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pick-up</h5>
         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/image/logo2.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">On-the-way</h5>
         
        </div>
      </div>
    </div>
 
    <div class="col">
      <div class="card">
        <img src="assets/image/logo3.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Receive</h5>
         
        </div>
      </div>
    </div>
  </div>