<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="navbar-brand" href="user">Home</a>
      </li>
      <li class="nav-item active">
        <a class="navbar-brand" href="user/ordertable">OrderList</a>
      </li>
      <li class="nav-item active">
        <a class="navbar-brand" href="user/fastfood">fastfood</a>
      </li>
      <li class="nav-item active">
        <a class="navbar-brand" href="user/groceries">Groceries</a>
      </li>
      <li class="nav-item active">
        <a class="navbar-brand" href="user/oderstatus">Oder Prograss</a>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>